<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" viewEngine="Razor">
  <assemblies>
      <add assembly="MigrationManager.Episerver" />
  </assemblies>
  <routes>
    <route>
      <defaults>
        <add key="controller" value="Migration"/>
        <add key="action" value="Index"/>
        <add key="id" value=""/>
      </defaults>
    </route>
  </routes>
  <clientResources>
  </clientResources>
  <dojo>
    <packages></packages>
    <aliases></aliases>
  </dojo>
</module>
